############Config for ppf_match
# target model 
mod ../../../datafile/plat.ppfs
# target scene
tar ../../../datafile/ZYK2.txt
#show help
#h
# use omp version or old version
omp
#show key point downsampled for the scene
k
#show cluster result
sc
#Show cluster results together, only when 'sc' is input"
st
#Use existing normal files
#in
#Two ball switch
#tb
#Spread discretized ppf
#sppf
#use weighted vote or just 1 vote
#weight_vote
#Moving least squares order, set to 0 to disable
mls 0
#Number of angle bins, default 30(drost)
n_a 30
#Scene uniform sampling radius (default same as model)
scene_ds 0.07
#angle thresh when do ppf clustering
angle_thresh 0.15
#first distance thresh(relative to radius)
dis_thresh 0.1
#relative reference points number in ppf matching
rrpn 0.2
#max vote thresh, relative to the number of points in the current box
mvt 4
#if the vote in the accumulator is greater than a certain thresh, then the instance is considered, this is the ratio of thresh to max_vote
mvp 0.95
#Number of clusters per group.set to '-1' to close group
ncpg 1
#recompute score distance thresh, relative to model resolution.Set to '-1' to disable recompute score
re_d 0.1
#recompute score angle thresh, Set to '-1' to disable using angle thresh
re_a 0.2
#max overlap ratio, for overlapping elimination(default 0.5)
mov 0.5
#the clusters whose vote is greater than this will be displayed
show_thresh 0.2
#icp type(default -1 disabled)
icp -1
# icp show thresh
icp_thresh 0.2
