#############ppf_train2 config
#target model file .ply only by now
mod ../../../datafile/ape_test/ape.ply
#target output name
#out test.ppfs
#help
#h
#write the sampled model
#w
#Plane feature flag
#plf
#show original model
so
#smart sampling, set angle_degree thresh
sp 30
#Model down sampling radtia (default 0.05)
model_ds 0.05
#Model plane feature down sampling ratia, if not set, default same as model
#plane_ds 0.08
#angle division
a_div 15
#distance division
d_div 20



